xonsh @ git+https://github.com/oujezdsky/xonsh.git@20bacdad5540ba665a894bfc3f2027d25007cee5 ; python_version >= '3.11'
xonsh @ git+https://github.com/oujezdsky/xonsh.git@52a181b2acedfe4da8b7a18f63d5b69d1931064e ; python_version >= '3.9' and python_version < '3.11'
xonsh @ git+https://github.com/oujezdsky/xonsh.git@f3831ae766f2e79f11d1c48727c6bd9bfc6a2cac ; python_version < '3.9'
